{% extends 'base.html' %}
{% load static %}

{% block title %}BTCVPS - Rent a server with cryptocurrency{% endblock %}
{% block content %}

    {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <p><a href="{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}">signup</a>
        <div class="uk-grid-column-large  uk-grid-row-large" uk-grid>
            <form class="uk-align-center">
                <fieldset class="uk-fieldset">

                    <legend class="uk-legend">VPS Configuration</legend>

                    <div class="uk-margin">
                        <div id="select_vps_plan_div">
                            <script>
                                console.log("hi");
                                var div = document.getElementById("select_vps_plan_div");
                                var sel = document.createElement('select');
                                sel.className = "uk-select";
                                const vultr_plans_list_url = "https://cors-anywhere.herokuapp.com/https://api.vultr.com/v1/plans/list";
                                options = "";
                                $.get(vultr_plans_list_url, function (data, status) {
                                    var sorting = {};

                                    Object.keys(data).forEach(function (key) {
                                        sorting[data[key]['price_per_month']] = key
                                    });
                                    console.log(sorting);
                                    Object.keys(sorting).forEach(function (key) {
                                        console.log(key);
                                        options += ("<option>" + data[sorting[key]]["name"] + "</option>");
                                    });
                                    console.log(options);
                                    sel.innerHTML = options;
                                    div.appendChild(sel);
                                });
                            </script>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    {% endif %}
{% endblock %}